h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: center;
}

li{
    text-align: left;
}

.genero{
    text-align: center;
}
